
/* logo styling */
.navbar .logo img{
  width: 200px;
}

.headerMain{
  height: 600px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.597), rgba(0, 0, 0, 0.94)), url('./images/banner.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerMain .typical{
  color: blue;
  font-size: 100px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.feature{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 35px;
  border: none !important;
  margin: 5px 10px;
  padding: 10px 5px;
  text-align: center;
}
.feature img{
  margin: 0 auto;
  padding-top: 10px;
}