
/* logo styling */
.navbar .logo img{
  width: 200px;
}

.headerMain{
  height: 600px;
  background:linear-gradient(0deg, rgba(4, 250, 238, 0.357), rgb(0, 89, 255)), url('./images/banner.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerMain .typical{
  color: rgb(4, 250, 184);
  font-size: 100px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.cardStyle{
  border: none !important;
  transition: all 0.4s ease-in-out;
}
.cardStyle:hover{
  background:linear-gradient(0deg, rgba(4, 250, 238, 0.994), rgb(0, 89, 255))
}

.feature{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 35px;
  border: none !important;
  margin: 5px 10px;
  padding: 10px 5px;
  text-align: center;
}
.feature img{
  margin: 0 auto;
  padding-top: 10px;
}

.social-media .icon{
  text-align: center;
  width: 40px;
  height: 40px;
  color: white;
  border: 1px solid white;
  background-color: rgb(4, 250, 184);
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
}
.social-media .icon:hover{
  background-color: #ff0c43;

  color:white;
}
.social-media .active-icon{
  background-color: #ff0c43 ;
  color:white;
}
.social-media .active-icon:hover{
  background-color: #fff ;
  color:#ff0c43;
}

.angleUp{
  width: 60px;
  height: 60px;
  color: white;
  border: 1px solid white;
  background-color: rgb(4, 250, 184);
  border-radius: 50%;
  padding: 10px;
  font-size: 6rem;
}

.home-background{
  background:linear-gradient(75deg, rgba(4, 250, 238, 0.898), rgba(0, 89, 255, 0.85)), url('./images/banner-2.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}